-
  var pages =[
    {
      pageName: 'Works',
      pageDir: 'works'
    },
    {
      pageName: 'About',
      pageDir: 'about'
    },
    {
      pageName: 'Blog',
      pageUrl: 'https://game-web-design.hatenadiary.com/'
    },
    {
      pageName: 'Twitter',
      pageUrl: 'https://twitter.com/NoobWebDesigner'
    },
    {
      pageName: 'Contact',
      pageUrl: 'mailto:326.fujimaki@gmail.com'
    }
  ]
mixin gNav
  li: a(href="/") Top
  - for (var x = 0; x < pages.length; x++)
    if pages[x]['pageDir']
      li: a(href='/'+pages[x]['pageDir']+'/') #{pages[x]['pageName']}
    if pages[x]['pageUrl']
      li: a(href=pages[x]['pageUrl'],target="_blank") #{pages[x]['pageName']}


doctype html
html(amp='', lang='ja')
  head
    meta(charset="utf-8")
    title 326.Fujimaki - Web Designer / Coder
    meta(name='description', content='326.Fujimaki - Web Designer / Coder')
    meta(name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, shrink-to-fit=yes")
    meta(name='referrer', content='unsafe-url')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='format-detection', content='email=no,telephone=no,address=no')
    meta(property='og:site_name', content='326.Fujimaki - Web Designer / Coder')
    meta(property='og:title', content='326.Fujimaki - Web Designer / Coder')
    meta(property='og:description', content='326.Fujimaki - Web Designer / Coder')
    meta(property='og:url', content='https://fujimaki.design/')
    meta(property='og:image', content='https://fujimaki.design/ogp.jpg')
    meta(property='og:type', content='website')
    link(rel='canonical', href='正規化するURL')
    link(rel='stylesheet', href='css/style.css')
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,400,500|Noto+Serif+JP:300,400,500|Oswald:300,400|Rubik:300,400,500&subset=japanese")
    link(rel="stylesheet", href="https://use.typekit.net/zgt5zkk.css")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/yakuhanjp@3.2.0/dist/css/yakuhanjp-narrow.min.css")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous")

  body
    header.d-flex.justify-content-between
      h1.mb-0
        a(href="/") 326.Fujimaki
      nav.d-none.d-sm-block
        ul
          +gNav
      .sp-menu.d-block.d-sm-none
        i.fas.fa-bars
          
        

    .p-5

    footer.border-top.p-4
      .container.d-sm-flex.justify-content-between.text-center
        small ©️ 2019 326.Fujimaki
        ul.d-none.d-sm-block
          +gNav
    script(src="js/app.js" defer)