-
  var list =[
    {
      skillImg: 'images/html5',
      skillClass: 'html',
      skillTxt: 'HTML5'
    },
    {
      skillImg: 'images/css3',
      skillClass: 'css',
      skillTxt: 'CSS3'
    },
    {
      skillImg: 'images/sass',
      skillClass: 'sass',
      skillTxt: 'Sass'
    },
    {
      skillImg: 'images/ps',
      skillClass: 'ps',
      skillTxt: 'Photoshop'
    },
    {
      skillImg: 'images/dw',
      skillClass: 'dw',
      skillTxt: 'Dreamweaver'
    },
    {
      skillImg: 'images/ai',
      skillClass: 'ai',
      skillTxt: 'Illustrator'
    },
    {
      skillImg: 'images/pug',
      skillClass: 'pug',
      skillTxt: 'Pug'
    },
    {
      skillImg: 'images/git',
      skillClass: 'git',
      skillTxt: 'Git'
    },
    {
      skillImg: 'images/laravel-mix',
      skillClass: 'lm',
      skillTxt: 'Laravel Mix'
    },
    {
      skillImg: 'images/npm',
      skillClass: 'npm',
      skillTxt: 'npm-scripts'
    },
    {
      skillImg: 'images/gulp',
      skillClass: 'gulp',
      skillTxt: 'Gulp'
    },
    {
      skillImg: 'images/jquery',
      skillClass: 'jq',
      skillTxt: 'jQuery'
    },
    {
      skillImg: 'images/xd',
      skillClass: 'xd',
      skillTxt: 'Adobe XD'
    },
    {
      skillImg: 'images/pr',
      skillClass: 'pr',
      skillTxt: 'Premiere Pro'
    },
    {
      skillImg: 'images/js',
      skillClass: 'js',
      skillTxt: 'JavaScript'
    },
    {
      skillImg: 'images/ae',
      skillClass: 'ae',
      skillTxt: 'AfterEffects'
    },
  ]

mixin skills_list
  each item in list
    .col-6.col-md-3.mb-3(data-emergence="hidden")
      .mb-2.position-relative
        h3.position-absolute
          img.img-fluid.w-100.lozad(data-src=item.skillImg+'.png' data-srcset=srcset3x(item.skillImg,'.png') alt=item.skillTxt)
        canvas(class=`per-${item.skillClass}` width="400" height="400")
      p.h5.text-center #{item.skillTxt}
