-
  var list =[
    {
      worksLink: '/works/#works-01',
      worksImg: 'https://placehold.jp/380x268.png',
      worksTtl: 'ポートフォリオ',
      worksTxt: 'コーディング'
    },
    {
      worksLink: '',
      worksImg: 'https://placehold.jp/380x268.png',
      worksTtl: 'ポートフォリオ',
      worksTxt: 'コーディング'
    },
    {
      worksLink: '',
      worksImg: 'https://placehold.jp/380x268.png',
      worksTtl: 'ポートフォリオ',
      worksTxt: 'コーディング'
    },
    {
      worksLink: '',
      worksImg: 'https://placehold.jp/380x268.png',
      worksTtl: 'ポートフォリオ',
      worksTxt: 'コーディング'
    },
    {
      worksLink: '',
      worksImg: 'https://placehold.jp/380x268.png',
      worksTtl: 'ポートフォリオ',
      worksTxt: 'コーディング'
    },
    {
      worksLink: '',
      worksImg: 'https://placehold.jp/380x268.png',
      worksTtl: 'ポートフォリオ',
      worksTxt: 'コーディング'
    }
  ]

mixin works_list
  each item in list
    a.col-md-4.col-sm-6.mb-sm-0.mb-3(href=item.worksLink data-emergence="hidden")
      p.works-catch.mb-2
        img.img-fluid.w-100(src=item.worksImg alt=item.worksTtl)
      h4.works-ttl.h6.mb-1 #{item.worksTtl}
      p.works-txt #{item.worksTxt}

mixin works_list_page
  each item in list
    a.col-6(href=item.worksLink)
      p.works-catch.mb-2
        img.img-fluid.w-100(src=item.worksImg)
      h4.works-ttl.h6.mb-1 #{item.worksTtl}
      p.works-txt #{item.worksTxt}
